In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("HistoricalQuotes_without_date.csv")
df.head(5)

    close     volume    open    high      low
0  204.87  8,966,531  206.67  206.98  204.220
1  208.74   21162560  210.16  210.45  207.200
2  209.01   21007650  208.50  209.32  206.655
3  205.53   15957630  204.10  205.72  203.320
4  204.16   25897340  207.86  208.55  203.530

In [4]:
df.shape

(253, 5)

In [17]:
date_range = pd.date_range(start="6/1/2018",end="5/21/2019", freq='B')
date_range

DatetimeIndex(['2018-06-01', '2018-06-04', '2018-06-05', '2018-06-06',
               '2018-06-07', '2018-06-08', '2018-06-11', '2018-06-12',
               '2018-06-13', '2018-06-14',
               ...
               '2019-05-08', '2019-05-09', '2019-05-10', '2019-05-13',
               '2019-05-14', '2019-05-15', '2019-05-16', '2019-05-17',
               '2019-05-20', '2019-05-21'],
              dtype='datetime64[ns]', length=253, freq='B')

In [20]:
df.set_index(date_range, inplace=True)
df.head()

             close     volume    open    high      low
2018-06-01  204.87  8,966,531  206.67  206.98  204.220
2018-06-04  208.74   21162560  210.16  210.45  207.200
2018-06-05  209.01   21007650  208.50  209.32  206.655
2018-06-06  205.53   15957630  204.10  205.72  203.320
2018-06-07  204.16   25897340  207.86  208.55  203.530