In [1]:
import pandas as pd
from pandas import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
sales = pd.read_csv("sales-cars.csv")
sales.head()

     Month  Sales
0  2016-01    266
1  2016-02    146
2  2016-03    183
3  2016-04    119
4  2016-05    180

In [4]:
sales = pd.read_csv("sales-cars.csv", parse_dates=["Month"], index_col=0)
sales.head()

            Sales
Month
2016-01-01    266
2016-02-01    146
2016-03-01    183
2016-04-01    119
2016-05-01    180